
# Ignore SCSS files
*.scss linguist-vendored

# Ignore Less files
*.less linguist-vendored

# Ignore minified JS (optional)
*.min.js linguist-vendored
# Ignore Hack files
*.hack linguist-vendored
# Ignore third-party dependencies
vendor/** linguist-vendored
node_modules/** linguist-vendored

# Optional: Show .sql files as SQL (MySQL)
*.sql linguist-language=SQL
